*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(4, 6, 16);
}
.chart-body{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: flex-end;
    padding: 2em ;
    width: 30%;
    height: 500px;
    background: rgb(72, 71, 71);
    border-radius: 20px;

}
.chart-serial{
    position: relative;
    width: 200px;
    border-radius: 10px;
    background: var(--color);
    transform-origin: bottom center ;
    animation: rise 1s linear forwards;
    
}
.chart-tittle{
    padding: 10px 0px;
    position: absolute;
    bottom: -50px;
    color: aliceblue;

}


@keyframes rise{
    0%
    {
        height: 0;
    }
    100%
    {
        height: var(--i);
    }
}